body{
    background-color: rgb(177, 176, 176);
    color: black;
    margin: 0;
    padding: 0;
    font-family: "courier new", monospace
}

button{
    padding: 15px 30px;
    border: none;
    font-size: 1.2em;
    background-color: rgb(220, 16, 16);
    border-radius: 15px;
    max-width: 250px;
    cursor: pointer;
}

header{
    background-color: rgb(192, 23, 23);
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPassword{
    margin: 25px;
    font-weight: 500;
    cursor: pointer;
}

.addPassword:hover{
    font-weight: 600;
}

.title{
    padding: 0;
    margin: 25px;
    font-weight: 1000;
    font-size: 2.7em;
}
.help{
    height: 25px;
    width: 25px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px !important;
    margin: 25px;
    border: 1px solid black;
}
.help:hover{
    background-color: rgb(158, 0, 0);
    cursor: pointer;
}


/* username/password containers*/
.boxes{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.box{
    border: 2px solid black;
    color: rgb(59, 59, 59);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    justify-self: center;
    margin: 15px;
}

.boxMenu{
    position: relative;
    left: 90%;
    bottom: 15px;
    padding: 6px;
    height: 25px;
    width: 25px;
}
.boxMenu:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 50%;
}
.section1{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
}

.boxp{
    font-size: 1.4em;
    margin: 5px;
    padding: 0;
}
.boxTitle{
    font-size: 2em;
}
.searchCont{
    text-align: center;
}

.searchTitle{
    font-size: 2.3em;
}
.searchInput{
    padding: 15px;
    border: none;
    background-color:rgb(194, 194, 194);
    font-size: 1.1em;
    width: 150px;
    margin-bottom: 35px;
}
.searchInput:focus{
    background-color: rgb(156, 155, 155);
    outline: none;
}

.helpDesc{
    background-color: rgba(128, 128, 128, 0.703);
    padding: 2px;
    border-radius: 15px;
    width: 100px;
    position: fixed;
    right: 15px;
    padding: 5px;
    top: 70px;
}

.formToAddPassword{
    position: fixed;
    display: flex;
    justify-self: center;    
    bottom: 15%;
    width: 75vw;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    border: 5px solid gray;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.formToAddPassword input{
    display: flex;
    height: 30px;
    margin-bottom: 14px;
    margin-left: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    width: 50%;
    align-self: center;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
}


input:focus{
    outline: none;
}

#formcom{
    display: flex;
    justify-content: center;
}

.errorAddingPassword {
    background-color: rgb(234, 92, 92);
    border: 3px solid red;
    border-radius: 5px;
    padding: 10px;
}