body{
    background-color: rgb(177, 176, 176);
    color: black;
    margin: 0;
    padding: 0;
    font-family: "courier new", monospace
}

header{
    background-color: rgb(202, 26, 26);
    height: 110px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPassword{
    margin: 25px;
    font-weight: 500;
    cursor: pointer;
}

.addPassword:hover{
    font-weight: 600;
}

.title{
    padding: 0;
    margin: 25px;
    font-weight: 1000;
    font-size: 2.7em;
    margin-left: 155px;
}
.help{
    height: 25px;
    width: 25px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px !important;
    margin: 25px;
    border: 1px solid black;
}
.help:hover{
    background-color: rgb(158, 0, 0);
    cursor: pointer;
}


/* username/password containers*/
.box{
    border: 2px solid black;
    color: rgb(59, 59, 59);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    justify-self: center;
    margin-top: 25px;
    margin-left: -25px;
}

.boxMenu{
    position: relative;
    left: 90%;
    bottom: 15px;
    padding: 6px;
}
.boxMenu:hover{
    cursor: pointer;
    background-color: gray;
    border-radius: 50%;
}
.section1{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.boxp{
    font-size: 1.4em;
    margin: 5px;
    padding: 0;
}
.boxTitle{
    font-size: 2em;
}

.searchTitle{
    font-size: 2.3em;
    margin-left: 25px;
}
.searchInput{
    padding: 15px;
    border: none;
    background-color:rgb(207, 206, 206);
    font-size: 1.1em;
}
.searchInput:focus{
    background-color: rgb(156, 155, 155);
    outline: none;
}

